.employee-recognitionhistory-container {
    //display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 90vh; /* Specifying the desired height */
  }

  .responsive_table {
    width: 100%;
    max-width: 1300px; /* Adjusting the maximum width as needed */
  }