<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Top Rewards</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/earphone.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/earphone.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Earphones</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Enjoy the ravel of music with oneplus saga ,be the best to grab the best</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/keychain.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/keychain.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Key Chains</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">get your rarest keychains reward with top recognition</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/milton-flask-elfin.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/milton-flask-elfin.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Milton Flask</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">this reward is accessed by surprising recognitions so it might be rare to get this! </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/pouh.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/pouh.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pouch</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">get this reward with surprising recognition</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Engineering Excellence
                        
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>
