<div class="recognition">
    <div class="box col-sm-8 ">
        <h2>Update Recognition</h2>

        <form [formGroup]="recognitionForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="recognitionName" required>
                        <mat-error *ngIf="recognitionForm.get('recognitionName')?.hasError('required')">Name is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Points</mat-label>
                        <input matInput type="number" formControlName="points" required>
                        <mat-error *ngIf="recognitionForm.get('points')?.hasError('required')">Points is
                            required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</div>