.box {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.heading {
    color: #333;
    margin-bottom: 10px;
}

.sub-heading {
    color: #666;
    margin-bottom: 20px;
}

.add-button {
    width: 100%;
}

.table {
    width: 100%;
}

.btn-assign {
    background-color: #ffd700; /* Golden color */
    color: #333; /* Dark text */
  }